.page-content {
    display: flex;
    margin: 0 auto;
    max-width: $site-max-width;
    padding: $space;
}

.page-content__bookings {
    width: 30rem;
}

.page-content__buttons {
    width: 30rem;
}

.page-content__chaufs {
    width: 30rem;
}